version: "2"
services:
  test:
    build: .
    image: enof/uni-riot
    volumes:
      - ./src:/usr/app/src
      - ./test:/usr/app/test
    command: npm run test-watch
  web:
    extends:
      service: test
    volumes:
      - ./package.json:/usr/app/package.json
      - ./index.js:/usr/app/index.js
      - ./web.js:/usr/app/web.js
      - ./webpack.config.js:/usr/app/webpack.config.js
    ports:
      - 80:80
      - 8080:8080
    command: npm start
